<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waaw - Task</title>
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
  />
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light py-3 cst-nav">
      <a class="navbar-brand" href="/">
        <img src="images/logo.png" alt="">
      </a>
      <div class="ml-auto">
        <a class="btn btn-success btn-md btn-lg-lg" href="/surveys">Create Survey</a>
      </div>
  </nav>